<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>添加品牌列表</title>
		<link href="css/monokai_sublime.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/heightlength.css">
		<link rel="stylesheet" href="css/mxjs.css">
		<link rel="stylesheet" href="css/addBrand.css" />

		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/highlight.min.js"></script>
		<script src="js/smoothscroll.js"></script>
		<script>
			hljs.initHighlightingOnLoad();
		</script>
		<script src="js/mking.js"></script>
		<script type="text/javascript" src="js/brandlist.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="container">
			<div class="jsbg" style="padding-left: 2%;padding-right: 2%;">
				<div class="col-lg-12 mxlength">
					<div class="">
						<h2>添加品牌</h2>
					</div>
				</div>
				<div class="col-lg-12" style="margin-bottom: 50px;">
					<form class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">品牌名</div>
								<input type="text" class="form-control" id="exampleInputAmount" placeholder="Brand">
							</div>
						</div>
						<button type="submit" class="btn btn-primary">添加</button>
					</form>
				</div>
			</div>
		</div>
		

	</body>

</html>