<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>车辆详情</title>
		<link rel="stylesheet" href="css/admin.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/adminUserInfo.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/adminLeftMenu.js" ></script>
	</head>
	<body>
		<!--
        	作者：offline
        	时间：2020-05-12
        	描述：头部
        -->
		<div id="head" class="row">
			<img src="images/1234.png" id="headLogo" onclick="returnCarList()" />
			<span id="headSpan">车辆详情</span>
		</div>
		
		<div id="userInfoBody">
			<div class="row">
				<#list car.imagesList as i>
					<div class="col-md-4">
						<a href="#" class="thumbnail">
							<img src="images/${i.src}">
						</a>
					</div>
				</#list>
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class="col-md-4">-->
							<!--<a href="#" class="thumbnail">-->
								<!--<img src="images/c1css01.jpg">-->
							<!--</a>-->
						<!--</div>-->
					<table class="table table-hover table-bordered" border="0" style="text-align: center;">
						<tr>
							<td>序号</td><td>${car.carinfo.cid}</td>
							<td>车品牌</td><td>${car.brand.bname}</td>
						</tr>
						<tr>
							<td>车系</td><td>${car.cardseries.csname}</td>
							<td>颜色</td><td>${car.corol.corol}</td>
						</tr>
						<tr>
							<td>所属用户</td><td>${car.user.uname}</td>
							<td>图片路径</td><td>${car.img}</td>
						</tr>
						<tr>
							<td>原价</td><td>${car.oprice}万元</td>
							<td>现价</td><td>${car.price}万元</td>
						</tr>
						<tr>
							<td>所属地区</td><td>${car.address.address}</td>
							<td>车龄</td><td>${car.carage}年</td>
						</tr>
						<tr>
							<td>是否上架</td><td><#if car.putstate == 1>是</#if>
												<#if car.putstate == 0>否</#if>
							</td>
							<td>是否过审</td><td><#if car.assesstate == 2>是</#if>
						<#if car.assesstate == 0><a href="#">审核中</a></#if>
												<#if car.assesstate == 1>否 &nbsp;<a   onclick="selectOver(${aid})"> 查询未通过原因</a></#if></td>
						</tr>
					</table>
				</div>
				
				
				<!--其他配置-->
				<div class="row">
					<h3>相关配置</h3>
					<div class="col-md-6">
						<table class="table table-hover table-bordered" style=";text-align: center;">
							<th colspan="2" style="text-align: center;">基础配置</th>
							<tr>
								<td>长度</td><td>${car.carinfo.length} cm</td>
							</tr>
							<tr>
								<td>宽度</td><td>${car.carinfo.width} cm</td>
							</tr>
							<tr>
								<td>高度</td><td>${car.carinfo.height} cm</td>
							</tr>
							<tr>
								<td>质量</td><td>${car.carinfo.mass} kg</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table table-hover table-bordered" style="text-align: center;">
							<th colspan="2" style="text-align: center;">高级配置</th>
							<tr>
								<td>排量</td><td>${car.cardinfomax.pailiang}L</td>
							</tr>
							<tr>
								<td>燃油类型</td><td>${car.cardinfomax.youtype}</td>
							</tr>
							<tr>
								<td>燃油标号</td><td>${car.cardinfomax.youname}</td>
							</tr>
							<tr>
								<td>制动类型</td><td>${car.cardinfomax.dangtype}</td>
							</tr>
						</table>
					</div>
				</div>	
			
		</div>
	</body>
</html>
