<!doctype html>
<html lang="en">

	<head>
		<title>管理员页面</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<div id="loading">
			<div></div>
			<div></div>
			<span></span>
		</div>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="admin.html"><img src="images/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn" style="padding: 0; padding-top: 10px;">
						<button type="button" class="btn-toggle-fullwidth btn-toggle-mx"><img src="images/left.png" height="40px" alt=""></button>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!--_________________________________________________________________________________________-->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							
							<!--用户管理-->
							<li>
								<a href="useralist.html" target="_blank" class="iframe_link active"><span>用户管理</span></a>
							</li>
							
							<!--车辆管理-->
							<li>
								<a href="javascript:;" class="nav-togg"><span>车辆管理</span></a>
								<div>
									<ul>
										<li>
											<a href="carlist.html" target="_blank" class="iframe_link">
												<span>所有车辆</span></a>
										</li>
										<li>
											<a href="assessmentlist.html" target="_blank" class="iframe_link">
												<span>审核申请</span></a>
										</li>
										<li>
											<a href="brandlist.html" target="_blank" class="iframe_link">
												<span>所有品牌</span></a>
										</li>
										<li>
											<a href="adminAddBrand.html" target="_blank" class="iframe_link">
												<span>添加品牌</span></a>
										</li>
										<li>
											<a href="corollist.html" target="_blank" class="iframe_link">
												<span>所有颜色</span></a>
										</li>
										<li>
											<a href="adminAddCorol.html" target="_blank" class="iframe_link">
												<span>添加颜色</span></a>
										</li>
									</ul>
								</div>
							</li>
							
							<!--贷款管理-->
							<li>
								<a href="javascript:;" class="nav-togg"> <span>贷款管理</span> </a>
								<div>
									<ul>
										<li>
											<a href="banklist.html" target="_blank" class="iframe_link">
												<span>银行列表</span></a>
										</li>
										<li>
											<a href="adminAddBank.html" target="_blank" class="iframe_link">
												<span>添加银行</span></a>
										</li>
										<li>
											<a href="loanslist.html" target="_blank" class="iframe_link">
												<span>贷款申请</span></a>
										</li>
										
									</ul>
								</div>
							</li>
							
							<!--地区管理-->
							<li>
								<a href="addresslist.html" target="_blank" class="iframe_link"><span>地区管理</span></a>
							</li>
							
							<!--买家秀管理-->
							<li>
								<a href="buyerShowlist.html" target="_blank" class="iframe_link"><span>买家秀管理</span></a>
							</li>
							
							<!--交易记录-->
							<li>
								<a href="transationlist.html" target="_blank" class="iframe_link"><span>交易记录</span></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="main">
				<div class="main-content" style="height: 100%;">
					<iframe src="useralist.html" class="iframe_mx uicss-cn"></iframe>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.12.4.js" ></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.slimscroll.min.js"></script>
		<script src="js/klorofil-common.js"></script>

	</body>

</html>