<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>管理员页面</title>
		<link rel="stylesheet" href="css/admin.css" />
		<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/useradmin.js" ></script>
		<script type="text/javascript" src="js/adminLeftMenu.js" ></script>
	</head>

	<body>
		<!--
        	作者：offline
        	时间：2020-05-12
        	描述：头部
        -->
		<div id="head" class="row">
			<img src="images/1234.png" id="headLogo" onclick="logoGo()" />
			<span id="headSpan">管理员登录成功</span>
		</div>

		<!--
        	作者：offline
        	时间：2020-05-12
        	描述：主体
        -->
		<div id="body">
			<div id="bodyLeft">
				<ul class="nav nav-pills nav-stacked" id="leftUl">
					<li role="presentation" class="active">
						<a onclick="adminAllUser()">用户管理</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllCar()">车辆管理</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllAssessment()">审核申请</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllBrand()">所有品牌</a>
					</li>
					<li role="presentation">
						<a onclick="adminAddBrand()">添加品牌</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllCorol()">所有颜色</a>
					</li>
					<li role="presentation">
						<a onclick="adminAddCorol()">添加颜色</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllBank()">银行列表</a>
					</li>
					<li role="presentation">
						<a onclick="adminAddBank()">添加银行</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllLoans()">贷款申请</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllAddress()">地区管理</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllBuyerShow()">买家秀管理</a>
					</li>
					<li role="presentation">
						<a onclick="adminAllTrancation()">交易记录</a>
					</li>
				</ul>
			</div>
			<div id="bodyRight">
				<h2 id="bodyRightH">所有用户</h2>
				<table id="adminRightTable" class="table table-hover table-bordered" style="text-align: center;">
						<tr>
							<td>序号</td>
							<td>用户名</td>
							<td>密码</td>
							<td>余额</td>
							<td>手机</td>
							<td>查看</td>
							<td>删除</td>
						</tr>
					<#list userList as u>
					<tr>
						<td>${u.uid}</td>
						<td>${u.uname}</td>
						<td>${u.upwd}</td>
						<td>${u.money}万元</td>
						<td>${u.phone}</td>
						<td><button class="btn btn-info btn-xs" onclick="userinfo(${u.uid})">查看</button></td>
						<#if u.uid lt 16>
							<td><button class="btn btn-danger btn-xs" disabled="disabled" onclick="deluser(${u.uid})">删除</button></td>
						<#else>
							<td><button class="btn btn-danger btn-xs" onclick="deluser(${u.uid})">删除</button></td>
						</#if>
					</tr>
					</#list>
					</table>
					
			
			<!--分页-->
	  <div>
	  	<nav aria-label="">
	  	<ul class="pager" id="BodyFenYeUl">
	    	<li class="previous"><a onclick="prePage()"><span aria-hidden="true">&larr;</span> 上一页</a></li>
	    	<li ><a><span id="userthisPage">${pageIndex}</span> &nbsp;/&nbsp; <span id="userpageCount">${pageCount}</span></a></li>
	    	<li class="next"><a onclick="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
            <li class="next">
                <select id="fenyeSelect" onchange="fenyeSelect()">
                    <#list 1..pageCount as i>
                        <option value="${i}">${i}</option>
                    </#list>
                    <!--<option>1</option>-->
                    <!--<option>2</option>-->
                    <!--<option>3</option>-->
                </select>
            </li>
	  	</ul>
			</nav>
	  </div>


			</div>

		</div>



		<!--车系模态框-->
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">车系列表</h4>
					</div>
					<div class="modal-body">
						<ul class="list-group" id="adminCarSerciesMotal">
							<li class="list-group-item">高尔夫</li>
							<li class="list-group-item">朗逸</li>
							<li class="list-group-item">大众POLO</li>
							<li class="list-group-item">迈腾</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>



		<!-- 修改车品牌模态框 -->
		<div class="modal fade" id="adminUpdBrandMotai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="adminUpdBrandName" method="post" class="form-inline">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="">修改车品牌</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="adminUpdBrandText">BrandName</label>
								<input type="text" class="form-control" id="adminUpdBrandText" name="adminUpdBrandText">
								<input type="hidden" id="adminUpdBrandIdHidden" name="adminUpdBrandIdHidden" >
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">提交</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>