<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改车信息</title>
<link href="css/monokai_sublime.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/heightlength.css">
<link rel="stylesheet" href="css/mxjs.css">

</head>

<body>

<div class="container">
  <div class="jsbg"  style="padding-left: 2%;padding-right: 2%;">
    <div class="col-lg-12 mxlength">
      <div class=""> 
			<h2>修改车辆信息</h2>	
	  	</div>
    </div>
   <div class="col-lg-12">
   	<form action="" method="post">
      <table class="table table-bordered" style="color: white;text-align: center;">
      	<tr>
      		<td>序号</td><td>1</td>
      	</tr>
      	<tr>
      		<td>品牌</td>
      		<td><select id="brandSelect" style="color: white;background: #23241F;">
      			<option value="1">大众</option>
      			<option value="2">宝马</option>
      			<option value="3">奔驰</option>
      		</select></td>
      	</tr>
      	<tr>
      		<td>车系</td>
      		<td><select id="carseriesSelect" style="color: white;background: #23241F;">
      			<option value="1">1系</option>
      			<option value="2">2系</option>
      			<option value="3">3系</option>
      		</select>
      		</td>
      	</tr>
      	<tr>
      		<td>颜色</td>
      		<td><select id="corolSelect" style="color: white;background: #23241F;">
      			<option value="1">白色</option>
      			<option value="2">黑色</option>
      			<option value="3">红色</option>
      		</select>	
      		</td>
      	</tr>
      	<tr>
      		<td>地区</td>
      		<td><select id="addressSelect" style="color: white;background: #23241F;">
      			<option value="1">东湖区</option>
      			<option value="2">瑶湖区</option>
      			<option value="3">湾里区</option>
      		</select>	
      		</td>
      	</tr>
      	<tr>
      		<td colspan="2"><input class="btn btn-success"  type="submit" value="修改" /> </td>
      	</tr>
      </table></form>
    </div>
    
    
  </div>
</div>
<script src="js/jquery-1.12.4.js"></script> 
<script src="js/highlight.min.js"></script> 
<script src="js/smoothscroll.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="js/mking.js"></script>
<script type="text/javascript" src="js/caradmin.js" ></script>
</body>
</html>
