<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>买家秀详细</title>
		<link href="css/monokai_sublime.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/heightlength.css">
		<link rel="stylesheet" href="css/mxjs.css">

	</head>

	<body>

		<div class="container">
			<div class="jsbg" style="padding-left: 2%;padding-right: 2%;">
				<div class="col-lg-12 mxlength">
					<div class="">
						<h2>买家秀标题</h2>
					</div>
				</div>
				<div class="col-lg-12" style="padding: 0 2%;">
					<img src="img/c1css01.jpg" class="img-thumbnail">

					<div class="jumbotron" style="margin-top: 30px;">
						<h3>标题</h3>
						<p class="text-info">起初是打算看看二手车的，逛了瓜子二手车发现里面居然还有新车，优惠力度吸引了我，然后就抱着试一试的态度</p>
						
					</div>
				</div>

				<div class="col-lg-12 mxlength">
					<div class="">
						<h3>相关评论</h3>
					</div>
				</div>

				<div class="row">
					<table class="table table-bordered" style="color: white;text-align: center;width:94%;margin-left: 3%;">
						<tr>
							<td>评论者</td>
							<td>评论内容</td>
							<td>评论时间</td>
						</tr>
						<tr>
							<td>aaa</td>
							<td>sssssssssssssssssssssssss</td>
							<td>2015-02-08</td>
						</tr>
						<tr>
							<td>aaa</td>
							<td>sssssssssssssssssssssssss</td>
							<td>2015-02-08</td>
						</tr>
					</table>
				</div>

			</div>
		</div>
		<script src="js/jquery-1.12.4.js"></script>
		<script src="js/highlight.min.js"></script>
		<script src="js/smoothscroll.js"></script>
		<script>
			hljs.initHighlightingOnLoad();
		</script>
		<script src="js/mking.js"></script>
		<script type="text/javascript" src="js/user.js"></script>
	</body>

</html>