<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>买家秀列表</title>
<link href="css/monokai_sublime.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/heightlength.css">
<link rel="stylesheet" href="css/mxjs.css">

</head>

<body>

<div class="container">
  <div class="jsbg"  style="padding-left: 2%;padding-right: 2%;">
    <div class="col-lg-12 mxlength">
      <div class=""> 
			<h2>买家秀列表</h2>	
	  	</div>
    </div>
   <div class="col-lg-12">
      <table class="table table-bordered" style="color: white;text-align: center;">
      	<tr>
      		<td>序号</td>
      		<td>用户</td>
      		<td>所购车</td>
      		<td>标题</td>
      		<td>发布时间</td>
      	</tr>
      	<tr>
      		<td>1</td>
      		<td>aaa</td>
      		<td><a style="color: white;" href="carinfo.html">车id</a></td>
      		<td><a style="color: white;" href="buyerShowinfo.html">买家秀标题</a></td>
      		<td>2015-05-02</td>
      	</tr>
      	
      </table>
    </div>
    
    
  </div>
</div>
<script src="js/jquery-1.12.4.js"></script> 
<script src="js/highlight.min.js"></script> 
<script src="js/smoothscroll.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="js/mking.js"></script>
<script type="text/javascript" src="js/caradmin.js" ></script>
</body>
</html>
