<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>颜色列表</title>
<link href="css/monokai_sublime.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/heightlength.css">
<link rel="stylesheet" href="css/mxjs.css">

<script src="js/jquery-1.12.4.js"></script> 
<script src="js/highlight.min.js"></script> 
<script src="js/smoothscroll.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="js/mking.js"></script>
<script type="text/javascript" src="js/brandlist.js" ></script>
<script type="text/javascript" src="js/bootstrap.min.js" ></script>
</head>

<body>

<div class="container">
  <div class="jsbg"  style="padding-left: 2%;padding-right: 2%;">
    <div class="col-lg-12 mxlength">
      <div class=""> 
			<h2>颜色列表</h2>	
	  	</div>
    </div>
   <div class="col-lg-12">
      <table class="table table-bordered" style="color: white;text-align: center;">
      	<tr>
      		<td>序号</td>
      		<td>颜色</td>
      	</tr>
      	<tr>
      		<td>1</td>
      		<td>红色</td>
      	</tr>
      	<tr>
      		<td>2</td>
      		<td>白色</td>
      	</tr>
      	<tr>
      		<td>3</td>
      		<td>黑色</td>
      	</tr>
	
      </table>
    </div>
    
    <!--分页-->
	  <!--<div>
	  	<nav aria-label="">
	  	<ul class="pager">
	    	<li class="previous"><a onclick="prePage()"><span aria-hidden="true">&larr;</span> 上一页</a></li>
	    	<li ><a><span id="brandthisPage">1</span> &nbsp;/&nbsp; <span id="brandcarpageCount">5</span></a></li>
	    	<li class="next"><a onclick="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
	  	</ul>
			</nav>
	  </div>-->
	  
  </div>
</div>

<!--车系模态框-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">车系列表</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
				  <li class="list-group-item">高尔夫</li>
				  <li class="list-group-item">朗逸</li>
				  <li class="list-group-item">大众POLO</li>
				  <li class="list-group-item">迈腾</li>
				</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
