<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>消息列表</title>
<link rel="stylesheet" href="css/amazeui.min.css" />
<link rel="stylesheet" href="css/main.css" />
</head>
<body>
<div class="box">
	<div class="wechat">
		
		<div class="sidestrip">
			<div class="am-dropdown" data-am-dropdown>
				<!--头像插件-->
				<div class="own_head am-dropdown-toggle"></div>
				
			</div>
			<!--三图标-->
			<div class="sidestrip_icon">
				<a id="si_1" style="background: url(images/icon/head_2_1.png) no-repeat;
"></a>
				<a id="si_2"></a>
				<a id="si_3"></a>
			</div>
			
		</div>
		
		<!--聊天列表-->
		<input type="hidden" value="${list2.uid}" id="loginUser">
		<div class="middle on">
			
			<div class="office_text">
				<ul class="user_list">
					<#if untalkList?? && (untalkList?size > 0)>
					<#list untalkList as t>
						<li class="user_active" onclick="showAllTalk(${t.meuser.uid},this)">
							<div class="user_head"><img src="images/head/15.jpg"/></div>
							<div class="user_text">
								<p class="user_name">${t.meuser.uname}</p>
							</div>
							<div class="user_time2">${t.talkdate}</div>
						</li>
					</#list>
			<#else>

		</#if>

				</ul>
			</div>	
		</div>
		

	
		<!--聊天窗口-->
		<div class="talk_window">
			<div class="windows_top">
				<div class="windows_top_box">
					<span id="talkTopTitle"></span>
					<ul class="window_icon">
						<li><a href=""><img src="images/icon/icon10.png"/></a></li>
					</ul>
					<!-- 侧边栏内容 -->
					
				</div>
			</div>
			
			<!--聊天内容-->
			<input type="hidden" name="idmeid"><!--自己，发消息-->
			<input type="hidden" name="idotherid"><!--别人，收消息-->
			<div class="windows_body">
				<div class="office_text" style="height: 100%;">
					<ul class="content" id="chatbox">

						<!--<li class="me"><img src="images/icon/me.png" title="金少凯"><span>疾风知劲草，板荡识诚臣</span></li>-->
						<!--<li class="other"><img src="images/icon/other.png" title="张文超"><span>勇夫安知义，智者必怀仁</span></li>-->
					</ul>
				</div>
			</div>
			
			<div class="windows_input" id="talkbox">
				<div class="input_box">
					<textarea name="" rows="" cols="" id="input_box"></textarea>
					<button id="send">发送</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/amazeui.min.js"></script>
<script type="text/javascript" src="js/zUI.js"></script>
<script type="text/javascript" src="js/wechat.js"></script>

<script type="text/javascript">
//三图标
window.onload=function(){
	function a(){
		var si1 = document.getElementById('si_1');
		si1.onclick=function(){
			si1.style.background="url(images/icon/head_2_1.png) no-repeat"
			si2.style.background="";
			si3.style.background="";
		};
		
	};
	function b(){
		var text = document.getElementById('input_box');
		var chat = document.getElementById('chatbox');
		var btn = document.getElementById('send');
		var talk = document.getElementById('talkbox');


		btn.onclick=function(){
			var talkmsg=$("#input_box").val();
			var meid=$("input[name='idmeid']").val();
			var otherid=$("input[name='idotherid']").val();

			//alert("消息："+talkmsg+"我的id："+meid+"他的id："+otherid);

			if(text.value ==''){
				alert('不能发送空消息');
			}else{
				//alert("发送消息");
				$.ajax({
						url:"/usedcar/sendTalk",
						type:"post",
						dataType:"text",
						contentType:"application/json",
						data:JSON.stringify({"meid":meid,"otherid":otherid,"talkmsg":talkmsg}),
						success:function (result) {
							if(result=="yes"){
								// alert("页面");
								chat.innerHTML += '<li class="me"><img src="'+'images/icon/me.png'+'"><span>'+text.value+'</span></li>';
								text.value = '';
								chat.scrollTop=chat.scrollHeight;
								talk.style.background="#fff";
								text.style.background="#fff";
							}else{
								alert("消息发送失败");
							}
						},
						error:function () {
							alert("响应失败");
						}
					})


			};
		};
	};
	a();
	b();
};
</script>


</body>
</html>
