<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户列表</title>
<link href="css/monokai_sublime.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/heightlength.css">
<link rel="stylesheet" href="css/mxjs.css">

</head>

<body>

<div class="container">
  <div class="jsbg"  style="padding-left: 2%;padding-right: 2%;">
    <div class="col-lg-12 mxlength">
      <div class=""> 
			<h2>所有用户</h2>	
	  	</div>
    </div>
   <div class="col-lg-12">
      <table class="table table-bordered" style="color: white;text-align: center;">
      	<tr>
      		<td>序号</td>
      		<td>用户名</td>
      		<td>密码</td>
      		<td>余额</td>
      		<td>手机</td>
      		<td>查看</td>
      		<!--<td>修改</td>-->
      		<td>删除</td>y
      	</tr>
      	<tr>
      		<td>1</td>
      		<td>xiao</td>
      		<td>aaa</td>
      		<td>100万元</td>
      		<td>11111111111</td>
      		<td><button class="btn btn-info btn-xs" onclick="userinfo(1)">查看</button></td>
      		<td><button class="btn btn-danger btn-xs" onclick="deluser(1)">删除</button></td>
      	</tr>
      	<tr>
      		<td>1</td>
      		<td>xiao</td>
      		<td>aaa</td>
      		<td>100万元</td>
      		<td>11111111111</td>
      		<td><button class="btn btn-info btn-xs">查看</button></td>
      		<td><button class="btn btn-danger btn-xs">删除</button></td>
      	</tr>
      	<tr>
      		<td>1</td>
      		<td>xiao</td>
      		<td>aaa</td>
      		<td>100万元</td>
      		<td>11111111111</td>
      		<td><button class="btn btn-info btn-xs">查看</button></td>
      		<td><button class="btn btn-danger btn-xs">删除</button></td>
      	</tr>
      </table>
    </div>
    
    <!--分页-->
	  <div>
	  	<nav aria-label="">
	  	<ul class="pager">
	    	<li class="previous"><a onclick="prePage()"><span aria-hidden="true">&larr;</span> 上一页</a></li>
	    	<li ><a><span id="userthisPage">1</span> &nbsp;/&nbsp; <span id="userpageCount">5</span></a></li>
	    	<li class="next"><a onclick="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
	  	</ul>
			</nav>
	  </div>
  </div>
</div>
<script src="js/jquery-1.12.4.js"></script> 
<script src="js/highlight.min.js"></script> 
<script src="js/smoothscroll.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="js/mking.js"></script>
<script type="text/javascript" src="js/useradmin.js" ></script>
</body>
</html>
