<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>阳光好车</title>
<link rel="stylesheet" type="text/css" href="css/base.css"/>
<link rel="stylesheet" type="text/css" href="css/home.css"/>
<link rel="stylesheet" type="text/css" href="css/hurst.css"/>
<link rel="stylesheet" type="text/css" href="css/city.css">
<script type="text/javascript" src="script/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="script/home_ban.js"></script>
<script type="text/javascript" src="script/eg_top_search.js"></script>
<script type="text/javascript" src="script/city.js"></script>
<script type="text/javascript" src="script/snncar.js"></script>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){

	$('.navmenu li').hover(function(){
		$('span',this).stop().css('height','2px');
		$('span',this).animate({
			left:'0',
			width:'100%',
			right:'0'
		},200);
	},function(){
		$('span',this).stop().animate({
			left:'50%',
			width:'0'
		},200);
	});
    $("#buyer").click(function(){
        $("#me-dl").css({"display":"block"});
        $("#me-dl2").css({"display":"none"});
    });
    $("#seller").click(function(){
        $("#me-dl").css({"display":"none"});
        $("#me-dl2").css({"display":"block"});
    });



});
function seller(uid) {

    $("#me-dl").css({"display":"none"});
    $("#me-dl2").css({"display":"block"});

}
</script>
<!--导航登陆网页版下拉-->
<script type="text/javascript">
$(function () {
	var setTime;
	$(".egc-top .nav-cent .operate").hover(function () {
		var _this = $(this);
		setTime = setTimeout(function () {
			_this.find(".sec-version").slideDown(200);
			_this.find("i").removeClass("icon-angle-down").addClass("icon-angle-up");
		}, 200);
	}, function () {
		if (setTime) {
			clearTimeout(setTime);
		}
		$(".egc-top .nav-cent .sec-version").slideUp(200);
		$(".egc-top .nav-cent .operate i").removeClass("icon-angle-up").addClass("icon-angle-down");
	});
});
</script>
<!--底部信息下拉-->
<script type="text/javascript">
$(function () {
	var wind_wd = $(window).width();
	if(wind_wd &lt;=735){
		/* $submenu.first().delay(400).slideDown(700);*/
			$('.relate .tit').on('click', function() {
			$(this).next('.con').slideToggle()
			$(this).parent().siblings('.items').find('.con').slideUp();
			});
		}else{
			 $('.relate .tit').unbind("click");
			 $('.relate .con').show();
			}
	$(window).resize(function(){
 		var wind_wd = $(window).width();
		if(wind_wd &lt;=735){
		/* $submenu.first().delay(400).slideDown(700);*/
			$('.relate .tit').on('click', function() {
			$(this).next('.con').slideToggle()
			$(this).parent().siblings('.items').find('.con').slideUp();
			});
		}else{
			 $('.relate .tit').unbind("click");
			 $('.relate .con').show();
			}
	});
});
</script>

<!--搜搜框获取焦点-->
<script type="text/javascript">
$(function () {
$('.sea-ipt-txt').focus(function() { 
$(this).addClass("on");
$('.search-btn').addClass("on"); 
}); 
$('.sea-ipt-txt').blur(function() { 
$(this).removeClass("on");
$('.search-btn').removeClass("on");
}); 
});
</script>
<!--下拉导航关闭-->
<script type="text/javascript">
$(function () {
 $('.menu-mb i').click(function() { 
   $(".navigation-mb-list").slideDown(300);
 }); 
 $('.navigation-mb-list .list-close-btn').click(function() { 
   $(".navigation-mb-list").slideUp(300);
 });
});
</script>
<!--stress搜索关闭-->
<script type="text/javascript">
$(function () {
	var setTime;
	$(".sercat .weixin").hover(function () {
		setTime = setTimeout(function () {
			$(".sercat .wxewm").show();
		}, 300);
	}, function () {
		if (setTime) {
			clearTimeout(setTime);
		}
		$(".sercat .wxewm").hide();
	});
});
</script>

<script type="text/javascript">
$(function () {
    alert(21);
	var scroll_heitht = $('body').offset().top;
	var isShow = true;
	$(window).scroll(function () {
       if ($(window).scrollTop() > scroll_heitht &amp;&amp; isShow) {
			 $('.stress-search-box').slideDown(200);
       }else{
		   $('.stress-search-box').slideUp(200);
		   }
       });
   $('.stress-close a').click(function(){
	   isShow=false;
	   $('.stress-search-box').slideUp(200).unbind(window,aa);
	   });


});

</script>
</head>
<body>
<div class="egc-top">
  <div class="nav-cent">

      <#if Session["list2"]="edit">
      <div class="top-r">

          <#else>
          <div class="top-r">
              <a href="remove" id="b-regist">退出</a>|<a href="#" id="b-login" class="b-login">  ${list2.uname} 登陆成功</a> </div>

      </#if>
    <div class="top-l">全国统一客服热线：000-000-0000</div>
    <div class="clear_fix"></div>
  </div>
</div>
<div class="navigation">
  <div class="nav-cent">
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="240" /></a></div>
    <div class="city"> 
      <div id="JS_hide_city_menu_11" class="city-select cut_handdler Left"> 
        <div id="JS_header_city_bar_box" class="hide_city_group">
          <div class="hideMap">
            <div class="showPanel clearfix">
              <div class="Left mycity">
   
                <div id="JS_default_city_delete" style="display: none;"></div>
              </div>
            </div>
            <div class="showPanel showPanel2 clearfix">
              <div class="hot_city" id="JS_header_city_hot"> </div>
              <div class="city_words mt10" id="JS_header_city_char"> </div>
            </div>
            <div class="scrollBody">
              <div class="cityMap clearfix">
                <table id="JS_header_city_list" class="city_list" style="margin-top: 0px;">
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="scrollBar"> <span id="JS_header_city_bar" style="margin-top: 0px;"></span> </div>
            </div>
          </div>
        </div>
      </div>
      <span class="common-bg city-logo"></span> </div>
    <div class="sea">
      <div class="egc-sea-box">
        <input type="text" class="sea-ipt-txt" placeholder="搜索您想要的车" />
        <a href="#" class="search-btn">搜索</a> </div>
    </div>
    <div class="hot-phone"> <i></i> <span class="js-change-phone">000-000-0000</span> </div>
  </div>
</div>
<ul class="navmenu">
  <li class="active"><a href="index.html">首页</a><span></span></li>
 <li><a href="list.html">我要买车</a><span></span></li>
 <li><a href="wymc.html">我要卖车</a><span></span></li>
 <li><a href="#">车主晒单</a><span></span></li>
 <li><a href="about.html">关于我们</a><span></span></li>
</ul>
<div class="clear_fix"></div>
<div class="stress-search-box row">
  <div class="stress-close"><a href="javascript:;"></a></div>
  <div class="nav-cents">
    <ul>
      <li class="logo"><a href="index.html"><img src="images/logo.png"  width="180"/></a></li>
     <li><a href="index.html">首页</a></li>
     <li><a href="list.html">我要买车</a></li>
     <li><a href="wymc.html">我要卖车</a></li>
     <li><a href="#">车主晒单</a></li>
     <li><a href="about.html">关于我们</a></li>
    </ul>
    <div class="seas">
      <div class="egc-sea-box">
        <input type="text" class="sea-ipt-txt" placeholder="搜索您想要的车">
        <a href="#" class="search-btn">搜索</a> </div>
    </div>
  </div>
</div>
<div class="clear_fix"></div>
<!--会员中心-->
<div class="mebBox" >
		<div class="meb-cont clearfix mainbox">
			<div class="meb-nav fl dInline">
				<ul class="clearfix">
                    <li ><a href="userinfo">用户中心</a></li>
                    <li class="on"><a href="selectTranction?uid=${list2.uid}">我的业务</a></li>
                    <li><a href="userinfoPwd">账户管理</a></li>
                    <li ><a href="userloan?uid=${list2.uid}">申请详细</a></li>
                </ul>
			</div>
			<div class="meb-right fr dInline">
				<div class="mr-top">
    <div class="mr-top-div clearfix">
        <span class="fl">
            <img src="images/photo.png">
        </span>
        <div class="mr-infor fl dInline">
            <h2>中午好，尊敬的用户 <b>${list2.uname}</b></h2>
            <p>
                手机：${list2.phone}  邮箱：  |  [ <a href="inTalk?meid=${list2.uid}">我的消息</a> ]
            </p>
        </div>
    </div>
</div>

		<div class="mr-detail" id="mr-detail" style="display: block;">
                <div class="mr-tab clearfix">
                    <a class="on" id="buyer">我买的车型</a>
                    <!--selectTranctionseller?uid=${list2.uid}-->
                    <a class=""  id="seller"  onclick="seller(${list2.uid})">我卖的车</a>
                </div>
                <div class="me-box" id="me-dl">
                    <div class="me-dl"  style="display: block;">
                        <div class="me-one" id="me-four">
                            <#list transactionlist as transalist>
                            <ul class="cs-list">
                                <li class="clearfix" style="position: relative;">
					<span class="carImg fl dInline"><a href="#" target="_blank"><div class="car_bg">
					</div>
					<img src="images/${transalist.img}" onerror="this.src='images/${transalist.img}'" width="300"></a>
						</span>	<div class="carTxt fr dInline">
                                    <h2><a href="#" target="_blank">${transalist.brand.bname} ${transalist.cardseries.csname}${transalist.cid}  车龄${transalist.carage}年</a></h2>
                                    <p>		<span>车龄${transalist.carage}年</span>
                                        <span>行驶里程：0.8万公里</span>
                                        <span>排量：2.0T</span>
                                        <span>排放标准：</span>
                                    </p>
                                    <div class="price clearfix" style="margin:5px 0;">
                                        <div class="fl dInline pNum">
                                            <font>一口价</font><br>
                                            <span class="num nBlue">${transalist.price}</span>
                                            <font> 万元</font>
                                        </div>
                                        <span class="num1 fl" style="height:43px;padding-top:10px;">
					<em>新车价：${transalist.oprice}万元(含${transalist.oprice}00元购置税)</em><br>
					<input type="hidden" class="CarValue_287" value="{img:'/',id:'224',price:'28.2',status:'',title:'奥迪A4L 2013 款 2.0T CVT 35TFSI 技术型',url:'#'}">
					<input type="hidden" id="c-cid"  value="${transalist.cid}"/>
                                        </span>
                                    </div>
                                    <div class="cs_bt clearfix">
                                        <a href="javascript:void(0)" onclick="delNeedThis('287')">已购买</a>

                                        <a type="button"  data-toggle="modal" onclick="cargetcid()" data-target="#myModal2" name="doupdate" >秀一波</a>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </#list>
                        <div class="hPages">
                        </div>
                    </div>
                </div>
            </div>

                <!--分界线-->
                <div class="mr-detail"  id="mr-detail2">
                    <div class="mr-tab clearfix" style="display: none">
                        <a class="on">我卖的车型</a>
                    </div>
                    <div class="me-box" id="me-dl2" >
                        <div class="me-dl"  style="display: none;">
                            <div class="me-one" id="me-four">
                                <#list transactionlistseller as transalistsell>
                                <ul class="cs-list">
                                    <li class="clearfix" style="position: relative;">
					<span class="carImg fl dInline"><a href="#" target="_blank"><div class="car_bg">
					</div>
					<img src="images/${transalistsell.img}" onerror="this.src='images/${transalistsell.img}'" width="300"></a>
						</span>	<div class="carTxt fr dInline">
                                        <h2><a href="#" target="_blank">${transalistsell.brand.bname} ${transalistsell.cardseries.csname}${transalistsell.cid}  车龄${transalistsell.carage}年</a></h2>
                                        <p>		<span>车龄${transalistsell.carage}年</span>
                                            <span>行驶里程：0.8万公里</span>
                                            <span>排量：2.0T</span>
                                            <span>排放标准：</span>
                                        </p>
                                        <div class="price clearfix" style="margin:5px 0;">
                                            <div class="fl dInline pNum">
                                                <font>一口价</font><br>
                                                <span class="num nBlue">${transalistsell.price}</span>
                                                <font> 万元</font>
                                            </div>
                                            <span class="num1 fl" style="height:43px;padding-top:10px;">
					<em>新车价：${transalistsell.oprice}万元(含${transalistsell.oprice}00元购置税)</em><br>
					<input type="hidden" class="CarValue_287" value="{img:'/',id:'224',price:'28.2',status:'',title:'奥迪A4L 2013 款 2.0T CVT 35TFSI 技术型',url:'#'}">
					</span>
                                        </div>
                                        <div class="cs_bt clearfix">
                                            <a href="javascript:void(0)" onclick="delNeedThis('287')">已销售</a>
                                        </div>
                                    </div>
                                    </li>
                                </ul>
                            </#list>
                            <div class="hPages">
                            </div>
                        </div>
                    </div>
                </div>
                <!--分界线-->






<div class="clear_fix"></div>
<!--底部-->
<div class="ftWrap">
  <div class="foot">
    <div class="cent">
      <div class="relate">
        <div class="items">
          <div class="tit"><i class="icon-angle-right"></i>交易帮助</div>
          <div class="con"> <a href="#">买车帮助</a> <a href="#">卖车帮助</a> <a href="#">过户帮助</a> </div>
        </div>
        <div class="items">
          <div class="tit"><i class="icon-angle-right"></i>客服中心</div>
          <div class="con"> <a href="abut.html">网站合作</a> <a href="about.html">关于我们</a> <a href="contact.html">联系我们</a> </div>
        </div>
        <div class="items">
          <div class="tit"><i class="icon-angle-right"></i>购车指南</div>
          <div class="con"> <a href="#">购车帮助</a></div>
        </div>
        <div class="app-section"> <img class="js-delayed-img"  src="images/f_wx.jpg">
          <div class="title">扫码关注微信</div>
          <p> 随时随地，秒杀好车<br />
            优质个人二手车 </p>
        </div>
        <div class="items last">
          <div class="tel">
            <h1>000-000-0000</h1>
            <p>周一至周日 8:00-18:00</p>
            <p>免费咨询(咨询、建议、投诉)</p>
            <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a> </div>
          <div class="tel-mb">
            <p><span>400-710-8886</span>周一至周日 8:00-18:00(仅收市话费)</p>
            <a href="#" class="kf"><i class="kf-icon"></i>在线客服</a> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="cent"> Copyright © 2016-2017, snncar.com,All Rights Reserved 皖ICP备16022456号-1</div>
  </div>
    <!-- Modal修改菜品的模态框 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">上传评论信息</h4>
                </div>
                <div class="modal-body" id="modiv">
                    <form action="insertBuyshow" enctype="multipart/form-data" method="post">
                        <span style="font: '微软雅黑';font-size: 30px;font-weight: bold;">uid：</span> <input type="text" name="uid" value="${list2.uid}" style="width: 40%;height: 40px; "><br>
                        <span style="font: '微软雅黑';font-size: 30px;font-weight: bold;">cid：</span> <input type="text" name="cid" style="width: 40%;height: 40px; "><br>
                        <span style="font: '微软雅黑';font-size: 30px;font-weight: bold;">标题：</span> <input type="text" name="title" style="width: 40%;height: 40px; "><br>
                        <span style="font: '微软雅黑';font-size: 30px;font-weight: bold;">   内容 ：</span><input type="text" name="showmsg"  style="width: 40%;height: 40px;margin-top:30px ; "><br>
                        <span style="font: '微软雅黑';font-size: 30px;font-weight: bold;margin-top:60px ;">   上传车图</span><input type="file" name="pic" style="width: 40%;height: 40px;margin-top:20px ; ">
                       <!-- --><input type="submit" value="上传" style="width: 50px;height: 40px;margin-left:250px;background-color: #3379b5;color: white;border-color:#3379b5  ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <!--   <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      <button type="button" class="btn btn-primary" >修改</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="script/3c-menu.js"></script> 
<script type="text/javascript" src="script/lg_reg.js"></script> 

<script type="text/javascript">
$('.mr-tab a').each(function(index){
	$(this).click(function(){
		$(this).addClass('on').siblings().removeClass('on');
		$('.me-dl').eq(index).show().siblings().hide();
	})
});
$('.cs_ding a').mouseover(function(){
	this.style.color='blue';
})
$('.cs_ding a').mouseout(function(){
	this.style.color='#4573af';
})
function clsub(id){
	$('#memId').val(id);
	var url='/Member/getCardImg/channel/7.html';
	$.ajax({
		type: "POST",
		url: url,
		data: {id:id},
		dataType: "json",
		success: function(data){
			if(data.idcarda){
				document.getElementById("imgPreview1").src = data.idcarda;
			}else{
				document.getElementById("imgPreview1").src = 'images/qzx.jpg';
			}
			if(data.idcardb){
				document.getElementById("imgPreview2").src = data.idcardb;
			}else{
				document.getElementById("imgPreview2").src = 'images/qzx.jpg';
			}
		}
	});
	$overlay = $('.overlay');
	$overlay.addClass('active');
	 $('.popup-over').show().addClass('active');
	$overlay.click(function(){
		modalHidden($whichPopup);
	});
	var $whichPopup = $('.popup-over');
		$('.popup-over').show().addClass('active');
		$overlay.click(function(){
		modalHidden($whichPopup);
	});
	$('.overBtn').click(function(){
		modalHidden($whichPopup);
	});
	$whichPopup.click(function(e){
		e.stopPropagation();
	});
	function modalHidden($ele) {
		$ele.removeClass('active');
		$overlay.removeClass('active');
	}
	
}

function subc(){
	var postfile1=uploadIdForm.postfile1.value;
	var postfile2=uploadIdForm.postfile2.value;
    var memId=uploadIdForm.memId.value;
	var url='/Member/cardImg/channel/7.html';
	$.ajax({
		type: "POST",
		url: url,
		data: {postfile1:postfile1, postfile2:postfile2,memId:memId},
		dataType: "json",
		headers:{'ClientCallMode':'ajax'},
		data:$('#formid').serialize(),
		success: function(data){
			if(data.result=='1'){
				alert('添加成功');
			}else{
				alert('添加失败');
				window.location.reload();
			}
		}
	});
	return false;
}
$('.auth').click(function(){
	$('.ver_dialog').fadeIn();
})
$('.ui-dialog-close').click(function(){
	$('.ver_dialog').fadeOut();
})
$('#me-one .hPages a').live('click',function(){
	var url=$(this).attr('href');
	$.ajax({
		type: "POST",
		url: url,
		data: {type:'LSDZ'},
		success: function(data){
			$('#me-one').html(data);
		}
	});
	return false;
})
$('#me-tow .hPages a').live('click',function(){
	var url=$(this).attr('href');
	$.ajax({
		type: "POST",
		url: url,
		data: {type:'SELL'},
		success: function(data){
			$('#me-tow').html(data);
		}
	});
	return false;
})
$('#me-three .hPages a').live('click',function(){
	var url=$(this).attr('href');
	$.ajax({
		type: "POST",
		url: url,
		data: {type:'APPLY'},
		success: function(data){
			$('#me-three').html(data);
		}
	});
	return false;
})
$('#me-four .hPages a').live('click',function(){
	var url=$(this).attr('href');
	$.ajax({
		type: "POST",
		url: url,
		data: {type:'CONCERN'},
		success: function(data){
			$('#me-four').html(data);
		}
	});
	return false;
})
$('#me-o .hPages a').live('click',function(){
	var url=$(this).attr('href');
	$.ajax({
		type: "POST",
		url: url,
		data: {type:'ORDER'},
		success: function(data){
			$('#me-o').html(data);
		}
	});
	return false;
})
$('#p_closedziliao').click(function(){
	$('.overlay').removeClass('active');
})

function delNeed(act,meb){
	var url='/Member/delNeed/channel/7.html';
	$.ajax({
		type: "POST",
		url: url,
		data: {act:act,meb:meb},
		success: function(data){
			if(data.result){
				alert('已取消该需求');
				window.location.reload();
			}else{
				alert('需求操作失败');
				window.location.reload();
			}
		}
	});
	return false;
}
function delNeedThis(carid){
	var url='/Member/delCondent/channel/7.html';
	$.ajax({
		type: "POST",
		url: url,
		data: {carid:carid},
		success: function(data){
			if(data.result){
				alert('已取消该收藏');
				 window.location.href="/Member/need/channel/7/list/11/tpl/4";
			}else{
				alert('收藏取消失败');
			}
		}
	});
	return false;
}

function delOrder(act,meb){
	var url='/Member/delOrder/channel/7.html';
	$.ajax({
		type: "POST",
		url: url,
		data: {act:act,meb:meb},
		success: function(data){
			if(data.result){
				alert('已取消该订单');
				window.location.reload();
			}else{
				alert('订单取消失败');
			}
		}
	});
	return false;
};
function cargetcid() {
    alert($("input[id=c-cid]").val());
    var cid=$("input[id=c-cid]").val()
    $("input[name=cid]").val(cid);

}
</script>

</body>
</html>