<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.AdminMapper">

<select id="adminlogin" resultType="com.zt.entity.Admin" parameterType="com.zt.entity.Admin">
SELECT * FROM admin WHERE adminname=#{adminname} and adminpwd=#{adminpwd}
</select>



</mapper>
