<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.CardinfomaxMapper">

<insert id="insertCardinfomax"  parameterType="com.zt.entity.Cardinfomax">
    INSERT INTO cardinfomax (cid,pailiang,youtype,youname,dangtype)
    VALUES(#{cid},#{pailiang},#{youtype},#{youname},#{dangtype})
</insert>

    <insert id="infomax"  parameterType="com.zt.entity.Cardinfomax">
        INSERT INTO cardinfomax(cid,pailiang,youtype,youname,dangtype)
        VALUE (#{cid},#{pailiang},#{youtype},#{youname},#{dangtype})
    </insert>


</mapper>
