<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.CarMapper">

    <resultMap id="usercar" type="com.zt.entity.Car">
        <id property="cid" column="cid"></id>
        <result property="bid" column="bid"></result>
        <result property="csid" column="csid"></result>
        <result property="corolid" column="corolid"></result>
        <result property="uid" column="uid"></result>
        <result property="oprice" column="oprice"></result>
        <result property="price" column="price"></result>
        <result property="putstate" column="putstate"></result>
        <result property="assesstate" column="assesstate"></result>
        <result property="addressid" column="addressid"></result>
        <result property="carage" column="carage"></result>
        <result property="img" column="img"></result>
        <!--一对多-->
        <association property="carinfo" javaType="com.zt.entity.Carinfo">
            <id property="cinfoid" column="cinfoid"></id>
            <result property="cid" column="cid"></result>
            <result property="length" column="length"></result>
            <result property="width" column="width"></result>
            <result property="height" column="height"></result>
            <result property="mass" column="mass"></result>
        </association>
        <association property="cardinfomax" javaType="com.zt.entity.Cardinfomax">
            <id property="infomaxid" column="infomaxid"></id>
            <result property="cid" column="cid"></result>
            <result property="pailiang" column="pailiang"></result>
            <result property="youtype" column="youtype"></result>
            <result property="youname" column="youname"></result>
            <result property="dangtype" column="dangtype"></result>
        </association>
    </resultMap>

    <resultMap id="carinfo" type="com.zt.entity.Car">
        <id property="cid" column="cid"></id>
        <result property="bid" column="bid"></result>
        <result property="csid" column="csid"></result>
        <result property="corolid" column="corolid"></result>
        <result property="uid" column="uid"></result>
        <result property="oprice" column="oprice"></result>
        <result property="price" column="price"></result>
        <result property="putstate" column="putstate"></result>
        <result property="assesstate" column="assesstate"></result>
        <result property="addressid" column="addressid"></result>
        <result property="carage" column="carage"></result>
        <result property="img" column="img"></result>
        <!--一对多-->
        <association property="brand" javaType="com.zt.entity.Brand">
            <id property="bid" column="bid"></id>
            <result property="bname" column="bname"></result>
        </association>
        <association property="cardseries" javaType="com.zt.entity.Cardseries">
            <id property="csid" column="csid"></id>
            <result property="bid" column="bid"></result>
            <result property="csname" column="csname"></result>
        </association>
        <association property="user" javaType="com.zt.entity.User">
            <id property="uid" column="uid"></id>
            <result property="uname" column="uname"></result>
            <result property="upwd" column="upwd"></result>
            <result property="money" column="money"></result>
            <result property="phone" column="phone"></result>
        </association>
        <association property="corol" javaType="com.zt.entity.Corol">
            <id property="corolid" column="corolid"></id>
            <result property="corol" column="corol"></result>
        </association>
        <association property="address" javaType="com.zt.entity.Address">
            <id property="addid" column="addid"></id>
            <result property="address" column="address"></result>
        </association>
        <collection property="imagesList" ofType="com.zt.entity.Images">
            <id property="iid" column="iid"></id>
            <result property="cid" column="cid"></result>
            <result property="src" column="src"></result>
        </collection>
    </resultMap>

    <!-- 首页查询前九辆-->
    <select id="selectlimit" resultMap="carinfo">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
        AND c.putstate=1
        GROUP BY c.cid
        ORDER BY c.price
        LIMIT 0,9
    </select>
    <select id="selectCarage" resultMap="carinfo">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
        AND c.putstate=1 AND c.`carage` BETWEEN 0 AND 3
        GROUP BY c.`cid`
        ORDER BY c.carage
        LIMIT 0,9
    </select>

    <select id="selectOprice" resultMap="carinfo">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src,c.`oprice`-c.`price` chajia
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
        AND c.putstate=1 AND c.`oprice`>c.`price`+10
        GROUP BY c.`cid`
        ORDER BY chajia DESC
        LIMIT 0,9
    </select>
    <!--插入一个车-->
    <insert id="insertCar"  parameterType="com.zt.entity.Car">
        INSERT INTO car(bid,csid,corolid,uid,oprice,price,addressid,carage,img)
        VALUES
        (#{bid},#{csid},#{corolid},#{uid},#{oprice},#{price},#{addressid},#{carage},#{img})
    </insert>

    <!--修改评估状态-->
    <update id="updateCarassesstate" parameterType="com.zt.entity.Car">
        UPDATE Car SET assesstate=#{assesstate} WHERE cid=#{cid}
    </update>

    <!--修改上架状态-->
    <update id="updateCarputstate" parameterType="com.zt.entity.Car">
        UPDATE Car SET putstate=#{putstate} WHERE cid=#{cid}
    </update>

    <!--查询评估完成的车辆或者未完成的车辆-->
    <select id="selectgetAssesstate" resultMap="carinfo" parameterType="com.zt.entity.Car" >
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
        AND c.assesstate=#{assesstate}
        GROUP BY c.cid
    </select>
    <!-- 查询已评估未上架的车辆或已上架的车辆-->
    <select id="selectgetPutstate" resultMap="carinfo" parameterType="com.zt.entity.Car">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img
        FROM car c,brand b,cardseries cs,USER u,address ad,corol co
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.uid=u.uid AND  c.addressid=ad.addid AND c.corolid=co.corolid
        AND c.putstate=#{putstate} AND c.assesstate=1
        GROUP BY c.cid
    </select>
    <!--多条件查询车-->
    <select id="manyConditions" parameterType="com.zt.entity.Car" resultMap="carinfo">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid
        AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid

    <if test="bid!=null and bid!=''">
        AND c.bid=#{bid}
    </if>
    <if test="csid!=null and csid!=''">
        AND c.csid=#{csid}
    </if>
        <if test="price==1.0 ">
            and c.price between 0 and 3
        </if>
        <if test="price==2.0">
            AND  c.price between 3 and 5
        </if>
        <if test="price==3.0 ">
            AND  c.price between 5 and 10
        </if>
        <if test="price==4.0 ">
            AND  c.price between 10 and 20
        </if>
        <if test="price==5.0 ">
            AND  c.price>20
        </if>
        <if test="addressid==1">
            AND c.addressid=1
        </if>

        <if test="addressid==2">
            AND c.addressid=2
        </if>
        <if test="addressid==3">
            AND c.addressid=3
        </if>
        <if test="addressid==4">
            AND c.addressid=4
        </if>
        <if test="addressid==5">
            AND c.addressid=5
        </if>
        <if test="addressid==6">
            AND c.addressid=6
        </if>
        <if test="addressid==7">
            AND c.addressid=7
        </if>
        <if test="addressid==8">
            AND c.addressid=8
        </if>
        <if test="addressid==9">
            AND c.addressid=9
        </if>
        <if test="addressid==10">
            AND c.addressid=10
        </if>
        <if test="addressid==11">
            AND c.addressid=11
        </if>
        <if test="addressid==12">
            AND c.addressid=12
        </if>
        <if test="addressid==13">
            AND c.addressid=13
        </if>
        <if test="corolid==1">
            AND c.corolid=1
        </if>
        <if test="corolid==2">
            AND c.corolid=2
        </if>
        <if test="corolid==3">
            AND c.corolid=3
        </if>
        <if test="corolid==4">
            AND c.corolid=4
        </if>
        <if test="corolid==5">
            AND c.corolid=5
        </if>
        <if test="corolid==6">
            AND c.corolid=6
        </if>
        <if test="corolid==7">
            AND c.corolid=7
        </if>
        <if test="corolid==8">
        AND c.corolid=8
        </if>
        <if test="corolid==9">
            AND c.corolid=9
        </if>
        <if test="carage==1">
            AND  c.carage between 0 and 3
        </if>
        <if test="carage==2">
            AND  c.carage between 3 and 5
        </if>
        <if test="carage==3">
            AND  c.carage between 5 and 10
        </if>
        <if test="carage==4">
            AND  c.carage>10
        </if>
         GROUP BY c.cid
    </select>

    <!--多条件查询车-->
    <select id="manyCar" parameterType="com.zt.entity.Car" resultMap="carinfo">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
        FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid
        AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
        <if test="bid!=null and bid!=''">
            AND b.bid=#{bid}
        </if>
        <if test="csid!=null and csid!=''">
            AND c.csid=#{csid}
        </if>
        <if test="price==1.0 ">
            and c.price between 0 and 3
        </if>
        <if test="price==2.0">
            AND  c.price between 3 and 5
        </if>
        <if test="price==3.0 ">
            AND  c.price between 5 and 10
        </if>
        <if test="price==4.0 ">
            AND  c.price between 10 and 20
        </if>
        <if test="price==5.0 ">
            AND  c.price>20
        </if>
        <if test="addressid==1">
            AND c.addressid=1
        </if>

        <if test="addressid==2">
            AND c.addressid=2
        </if>
        <if test="addressid==3">
            AND c.addressid=3
        </if>
        <if test="addressid==4">
            AND c.addressid=4
        </if>
        <if test="addressid==5">
            AND c.addressid=5
        </if>
        <if test="addressid==6">
            AND c.addressid=6
        </if>
        <if test="addressid==7">
            AND c.addressid=7
        </if>
        <if test="addressid==8">
            AND c.addressid=8
        </if>
        <if test="addressid==9">
            AND c.addressid=9
        </if>
        <if test="addressid==10">
            AND c.addressid=10
        </if>
        <if test="addressid==11">
            AND c.addressid=11
        </if>
        <if test="addressid==12">
            AND c.addressid=12
        </if>
        <if test="addressid==13">
            AND c.addressid=13
        </if>
        <if test="corolid==1">
            AND c.corolid=1
        </if>
        <if test="corolid==2">
            AND c.corolid=2
        </if>
        <if test="corolid==3">
            AND c.corolid=3
        </if>
        <if test="corolid==4">
            AND c.corolid=4
        </if>
        <if test="corolid==5">
            AND c.corolid=5
        </if>
        <if test="corolid==6">
            AND c.corolid=6
        </if>
        <if test="corolid==7">
            AND c.corolid=7
        </if>
        <if test="corolid==8">
            AND c.corolid=8
        </if>
        <if test="corolid==9">
            AND c.corolid=9
        </if>
        <if test="carage==1">
            AND  c.carage between 0 and 3
        </if>
        <if test="carage==2">
            AND  c.carage between 3 and 5
        </if>
        <if test="carage==3">
            AND  c.carage between 5 and 10
        </if>
        <if test="carage==4">
            AND  c.carage>10
        </if>
        GROUP BY c.cid
        limit #{first},#{pageSize}
    </select>

    <select id="getCarone" resultMap="carinfo" parameterType="com.zt.entity.Car">
        SELECT c.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img
        FROM car c,brand b,cardseries cs,USER u,address ad,corol co
        WHERE c.bid=b.bid AND c.csid=cs.csid AND c.uid=u.uid AND  c.addressid=ad.addid AND c.corolid=co.corolid
        AND c.cid=#{cid}
    </select>

    <select id="getCarinfo" resultMap="usercar" parameterType="com.zt.entity.Car">
        SELECT c.cid,info.* FROM car c,carinfo info
        WHERE c.cid=info.cid
        AND c.cid=#{cid}
    </select>
    <select id="getCardinfomax" resultMap="usercar" parameterType="com.zt.entity.Car">
        SELECT c.cid,infom.* FROM car c,cardinfomax infom
        WHERE  c.cid=infom.cid
        AND c.cid=#{cid}
    </select>
    <select id="carall" resultMap="usercar" parameterType="com.zt.entity.Car">
        INSERT INTO car (bid,csid, corolid,uid,oprice,price,putstate,assesstate,addressid,carage,img)
        VALUE (#{bid},#{csid},#{corolid},#{uid},#{oprice},#{price},0,0,#{addressid},#{carage},#{img})
    </select>
    <select id="carimg" resultMap="usercar" parameterType="com.zt.entity.Car">
        insert into images (cid,src) value(#{cid},#{src})
    </select>
    <select id="carcid" resultMap="usercar" parameterType="com.zt.entity.Car">
        SELECT MAX(cid) AS cid FROM car
    </select>
</mapper>
