<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.HistoryMapper">


    <resultMap id="Historyinfo" type="com.zt.entity.History">
        <id property="hid" column="hid"></id>
        <result property="uid" column="uid"></result>
        <result property="cid" column="cid"></result>
        <result property="hdate" column="hdate"></result>


        <association property="car" javaType="com.zt.entity.Car">
        <result property="bid" column="bid"></result>
        <result property="csid" column="csid"></result>
        <result property="corolid" column="corolid"></result>
        <result property="uid" column="uid"></result>
        <result property="oprice" column="oprice"></result>
        <result property="price" column="price"></result>
        <result property="putstate" column="putstate"></result>
        <result property="assesstate" column="assesstate"></result>
        <result property="addressid" column="addressid"></result>
        <result property="carage" column="carage"></result>
        <result property="img" column="img"></result>
            <association property="brand" javaType="com.zt.entity.Brand">
                <id property="bid" column="bid"></id>
                <result property="bname" column="bname"></result>
            </association>
            <association property="cardseries" javaType="com.zt.entity.Cardseries">
                <id property="csid" column="csid"></id>
                <result property="bid" column="bid"></result>
                <result property="csname" column="csname"></result>
            </association>
            <association property="corol" javaType="com.zt.entity.Corol">
                <id property="corolid" column="corolid"></id>
                <result property="corol" column="corol"></result>
            </association>
            <association property="address" javaType="com.zt.entity.Address">
                <id property="addid" column="addid"></id>
                <result property="address" column="address"></result>
            </association>
        </association>
    </resultMap>

<insert id="insertHistory"  parameterType="com.zt.entity.History">
    INSERT INTO history (uid,cid,hdate)
    VALUES (#{uid},#{cid},DEFAULT)
</insert>

<select id="selectHistory" resultMap="Historyinfo" parameterType="com.zt.entity.History">
    SELECT  DISTINCT  h.hdate,h.cid,b.*,c.csid,cs.csname,co.*,u.*,c.oprice,c.price,c.putstate,c.assesstate,ad.*,c.carage,c.img,i.src
    FROM car c,brand b,cardseries cs,images i,USER u,corol co,address ad,history h
    WHERE c.bid=b.bid AND c.csid=cs.csid AND c.corolid=co.corolid AND c.uid=u.uid AND i.cid=c.cid AND c.addressid=ad.addid
    AND h.cid=c.cid  AND h.uid=11 AND c.putstate=1
    GROUP BY h.cid ORDER BY h.hdate
</select>

<delete id="deleteUidHistory" parameterType="com.zt.entity.History">
        DELETE FROM history WHERE uid=#{uid}
</delete>

</mapper>
