<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.ImagesMapper">

<select id="getimgesone" resultType="com.zt.entity.Images" parameterType="com.zt.entity.Images">
    SELECT i.* FROM images i
    WHERE i.cid=#{cid}
</select>

    <select id="imagesall" resultType="com.zt.entity.Images" parameterType="com.zt.entity.Images">
    insert into images (cid,src) value(#{cid},#{src})
    </select>

    <select id="cidget" resultType="com.zt.entity.Images" parameterType="com.zt.entity.Images">
        SELECT MAX(cid) AS cid FROM images
    </select>
</mapper>
