<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zt.mapper.UsersMapper">

    <select id="selectlogin" resultType="com.zt.entity.User" parameterType="com.zt.entity.User">
        SELECT * FROM user WHERE phone=#{phone} and upwd=#{upwd}
    </select>

    <select id="selllogin" resultType="com.zt.entity.User" parameterType="com.zt.entity.User">
    SELECT * FROM user WHERE phone=#{phone}
    </select>

    <select id="selectall" resultType="com.zt.entity.User" >
        SELECT * FROM user
    </select>
    <!--注册-->
    <insert id="userregister" parameterType="com.zt.entity.User">
        INSERT INTO USER (uname,upwd,phone)
        VALUES
        (#{uname},#{upwd},#{phone})
    </insert>
<!--修改个人信息-->
    <update id="updateuser" parameterType="com.zt.entity.User">
        UPDATE USER SET uname=#{uname},phone=#{phone} WHERE uid=#{uid}
    </update>

    <update id="updateMoney" parameterType="com.zt.entity.User">
        UPDATE USER SET money=#{money} WHERE uid=#{uid}
    </update>

    <select id="selectuid" resultType="com.zt.entity.User">
    SELECT uid FROM USER WHERE uname=#{uname}
    </select>
</mapper>
